selenium  # Updated to the latest version
webdriver-manager
pandas
beautifulsoup4
requests
lxml
tqdm
python-dotenv

# Type checking
mypy
types-requests
types-beautifulsoup4
pandas-stubs
pandas-stubs

# Testing
pytest
pytest-cov
pytest-mock
pytest-selenium
tox

# Code quality
black
isort
numpy  # Updated to a version compatible with pandas-stubs